
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="~/AdminTbls">Admin Table</a>
<a href="~/CategoryTbls">Category</a>
<a href="~/CredenstialTbls">Credenstial</a>
<a href="~/ProductImageTbls">ProductImage</a>
<a href="~/ProductTbls">Products</a>
<a href="~/ShopTbls">Shop</a>