
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="~/AdminTbls">Admin Table</a><br />
<a href="~/CategoryTbls">Category</a><br />
<a href="~/CredenstialTbls">Credenstial</a><br />
<a href="~/ProductImageTbls">ProductImage</a><br />
<a href="~/ProductTbls">Products</a><br />
<a href="~/ShopTbls">Shop</a><br />